body{
    background-color: rgb(204, 107, 28);
    color: white;
}

h1{
    text-align: center;
    color: black;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;

    border: 5px solid blue;
}

h2, h3{
    text-align: center;
}

h2, h3{
    color: black;
}

.sumn{
    border: 5px solid black;
    margin-bottom: 5px ;
    padding: 23px;
}
 
li{
    color: black;
}